<div>
  <h1>Logueate usando Github!</h1>
  <a href="/api/sessions/github"> <button>Entrar con Github</button> </a>
  <br />
  <p>¿No estás registrado? <a href="/users/register">Regístrate aquí</a></p>
  <p>¿Ya tienes una cuenta? <a href="/users/login">Ingresa aquí</a></p>
</div>