<div class="col-md-5 offset-md-3">
  <h1>Registro</h1>
  <div>
    <form id="registerForm" class="card card-body p-3">
      <label>Nombre</label>
      <input name="first_name" />
      <br />
      <label>Apellido</label>
      <input name="last_name" />
      <br />
      <label>Email</label>
      <input name="email" />
      <br />
      <label>Edad</label>
      <input name="age" />
      <br />
      <label>Contraseña</label>
      <input name="password" />
      <br />
      <input type="submit" class="btn btn-primary" />
    </form>
  </div>

  <p class="text-center">¿Ya tienes una cuenta?
    <a href="/users/login">Ingresa aquí</a>
  </p>
</div>
<script src="/js/register.js"></script>