<h2>Menú</h2>
<ul>
  <li><a href="/users/login">Ingresar</a></li>
  <li><a href="/products/">lista Productos</a></li>
  <li><a href="/carts/64482d5aa29002008be91662">Productos del Carrito</a></li>
  {{! <li><a href="/api/products/realtimeproducts">Con websokets</a></li> }}
  <li><a href="/api/sessions/logout">Salir</a></li>

</ul>