<h2>Menú</h2>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/users/login">Ingresar</a></li>
  <li><a href="/products/">lista Productos</a></li>
  <li><a href="/carts/{{user.cart_id}}">Productos del Carrito</a></li>
  <li><a href="/users/profile">Perfil</a></li>
  {{! <li><a href="/api/products/realtimeproducts">Con websokets</a></li> }}
  <li><a href="/users/logout">Salir</a></li>

</ul>